/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require angular-material
 */

.jobNetApp {
  /** From vulcanized demo **/ }
  .jobNetApp section {
    background: #f7f7f7;
    border-radius: 3px;
    text-align: center;
    margin: 1em;
    position: relative !important;
    padding-bottom: 10px; }
  .jobNetApp material-content {
    margin-right: 7px; }
  .jobNetApp section material-button:not(.material-button-fab) {
    width: 10em; }
  .jobNetApp section material-button {
    display: block;
    margin: 1em;
    line-height: 25px; }
  .jobNetApp .label {
    position: absolute;
    bottom: 5px;
    left: 7px;
    color: #ccc;
    font-size: 14px; }