// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//body { padding-top: 20px !important; }

.custom_divider{
  background: #00BCD4;
  color: #fff;
}
.right_side_button{
  padding-right: 10px;
}